.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login {
  width: 70%;
  width: 1000px;
  height: 70%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  overflow: hidden;
  border: 2px solid lightgray;
  border-radius: 2px;
  background: #eeeeec;
  box-shadow: 50px 50px 100px #c3c3c2, -50px -50px 100px #ffffff;
}

.login-logo-container {
  width: 60%;
}

.login-logo-container > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.login-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3465a4;
}

.login-title {
  color: rgb(220, 220, 220);
}

.login-title > span {
  color: white;
}

.segment {
  width: 400px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2px;
  background: white;
  box-shadow: 2px 2px 10px #c3c3c2, -2px -2px 5px #ffffff;
}

.segment:hover {
  box-shadow: 3px 3px 5px gray -3px -3px 5px gray;
}

.login-form {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-accounts-icon {
  color: cornflowerblue;
}

@media screen and (max-width: 550px) {
  .segment {
    width: 300px;
  }
}

@media screen and (max-width: 360px) {
  .segment {
    width: 250px;
  }
}
