.employee-container {
  width: 100%;
  min-height: calc(100vh - 135px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  gap: 50px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.employee-container.no-results {
  padding-top: 50px;
}

.employee-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container:hover {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 20px 4px;
}

.pagination:hover {
  box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 20px;
}