.header-container {
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-image: linear-gradient(to right, #1e8c9d, #4ca1af);

  .header-content {
    height: 100%;
    display: flex;
    gap: 10px;
  }

  .hr-logo {
    object-fit: contain;
    width: 40px;
  }

  .header-buttons {
    display: flex;
    align-items: center;
  }

  .header-sidebar.hide {
    display: none;
  }

  .header-sidebar.show {
    width: 150px;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #457fca;
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);
    background: linear-gradient(to right, #5691c8, #457fca);

    .close-icon {
      margin-left: auto;
      margin-right: 20px;
      margin-top: 20px;
    }

    .close-icon:hover,
    .toggle-icon:hover {
      cursor: pointer;
    }
  }

  @media screen and (min-width: 800px) {
    .toggle-bar {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .logout-btn {
    display: none;
  }
}
