.header-container {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header-content {
  height: 100%;
  display: flex;
  gap: 10px;
}

.hr-logo {
  object-fit: contain;
  width: 5%;
}