/* .table-cell {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.table-header:first-child {
  border: 1px solid;
}

.table-first-cell, .table-header-cell {
  border: 1px solid;
} */
