.sidebar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  background: rgb(184, 10, 184);
  gap: 20px;
  border: 1px solid lightgray;
}

.menu {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

