
.sidebar {
  width: 100%;
  min-height: calc(100vh - 75px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  /* background: rgb(184, 10, 184); */
  gap: 20px;
  border: 1px solid lightgray;
  /* background-image: linear-gradient(to right, #41D8DD, #5583EE);   */
  
  background: #457fca;  
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);  
  background: linear-gradient(to right, #5691c8, #457fca);  
}

.menu-item {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}