.sidebar {
  width: 100%;
  min-height: calc(100vh - 75px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  background: #457fca;
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);
  background: linear-gradient(to right, #5691c8, #457fca);
}

.menu-item {
  color: white;
  width: 100%;
  height: 70px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item:hover {
  background-color: #457fbb;
}

.active {
  background-color: #113462;
}
